* {
    margin: 0;
    padding: 0;
    background-color: #B4B4B4;
  }
.lcd_normalscreen{
    height: 100%; 
    width: 100%;
    border-top: 1px solid #999;
    margin-top: 90px;
    z-index: 1;
}
.mask {
    width: 100%;
    top: 0;
    background-color: #222;
    z-index: 999;
    position: absolute;
    text-align: center;
    font-size: 24px;
    color: #aaa;
}
.tap-btns {
    width: 100%;
    height: 200px;
    position: absolute;
    border-bottom: 1px solid #999;
    bottom: 0;
    margin-bottom: 90px;
}
.btn-arrows {
    width: 150px;
    height: 160px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}
.btn-arrows img {
    width: 50px;
    height: 50px;
}
.btn-arrows .up,.right,.down,.left{
    position: absolute;
}
.btn-arrows .up {
    right: 0;
    top: 0;
    margin-right: 50px;
}
.btn-arrows .right {
    right: 0;
    top: 0;
    margin-top: 50px;
    transform: rotate(90deg);
}
.btn-arrows .down {
    right: 0;
    top: 0;
    margin-top: 100px;
    margin-right: 50px;
    transform: rotate(180deg);
}
.btn-arrows .left {
    right: 0;
    top: 0;
    margin-top: 50px;
    margin-right: 100px;
    transform: rotate(270deg);
}
.btn-pager {
    width: 51px;
    height: 90px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 16px;
}

.btn-pager .top,.bottom {
    height: 40px;
    width: 40px;
    position: absolute;
}
.btn-pager .bottom {
    bottom: 0;
    transform: rotate(180deg);
}
.btn-select-enter {
    width: 170px;
    height: 45px;
    position:absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 20px;
}
.btn-select-enter .jump,.confirm{
    width: 80px;
    height: 45px;
    position: absolute;
}
.btn-select-enter .confirm {
    right: 0;
}